<ul>
  {{#if home}}<li class="active">Home</li>{{else}}<li><a href="/#/">Home</a></li>{{/if}}
  <li class="padding">&nbsp;</li>
  {{#if speakers}}<li class="active">Speakers</li>{{else}}<li><a href="#/speakers">Speakers</a></li>{{/if}}
</ul>